<ion-progress-bar value="0.7"></ion-progress-bar>
<ion-footer>
    <ion-toolbar no-border>
        <div class="song-info">
            <img
                class="album-art"
                src="{{
                    item?.album_coverart_100x100 || 'https://dalelyles.com/musicmp3s/no_cover.jpg'
                }}"
            />
            <div class="text-wrapper">
                <div class="no-marquee">
                    <span>
                        <b>{{ currentTrack?.track_name || 'No Song Selected' }}</b>
                        {{ currentTrack ? '• ' + currentTrack.artist_name : ' ' }}
                    </span>
                </div>
            </div>
            <img
                class="trasparent-hack"
                src="../../assets/icon/transparent-icon.png"
                alt="PlayButton"
            />
            <a class="play-logo" [routerLink]="['/tabs/lyrics-tab']">
                <ion-icon
                    name="play"
                    (click)="clickPlayEvent()"
                    [ngClass]="animationStatus ? 'play-rotate' : 'play-rotate-normal'"
                    size="large"
                ></ion-icon>
            </a>
        </div>
    </ion-toolbar>
</ion-footer>
