<ion-progress-bar value="0.7"></ion-progress-bar>
<ion-footer>
  <ion-toolbar no-border>
    <div class="song-info">
      <img class="album-art" src="https://images.rapgenius.com/797d59cbc13dfd824c1e40ad64e7286b.400x400x1.jpg" alt="Eminem">
      <div class="text-wrapper">
        <marquee behavior="scroll" scrollamount="6">
          A scrolling text created with HTML Marquee element.
        </marquee>
        <img class="trasparent-hack" src="../../assets/icon/transparent-icon.png" alt="PlayButton">
      </div>
      <div class="play-logo">
        <img src="../../assets/icon/play.png" alt="PlayButton">
      </div>
    </div>
  </ion-toolbar>
</ion-footer>