ion-toolbar {
    --min-height: 10% !important;
}
.song-info {
    display: flex;
    flex-direction: 'row';
    border: 0;
    padding: 0;
    font-family: 'Montserrat', serif;
    font-size: 12px;
}

.album-art {
    max-height: 50px;
    width: auto;
}

.text-wrapper {
    position: relative;
    padding-top: 5px;
    flex-grow: 1;
}

.trasparent-hack {
    position: absolute;
    right: 0;
    width: 20%;
}

.play-logo {
    max-width: 35px;
    height: auto;
    display: flex;

    ion-icon {
        padding-right: 8px;
        padding-left: 4px;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.no-marquee {
    padding: 2px 3px;
}

.marquee {
    position: relative;
    padding-top: 5px;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 9s linear infinite;
    // animation-delay: 5s;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
