<ion-header>
  <ion-toolbar>
    <div class="lyrics-tab">
      <h3>Lyrics</h3>
        <a class="close-logo" [routerLink]="[onClose()]">
          <ion-icon style="zoom: 1.5;" ios="ios-close" md="md-close"></ion-icon>
        </a>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="lyrics-data">
    <div class="lyrics-text">
      <h4>{{songName}}</h4>
      <h6>{{artistName}}</h6>
    </div>
    
    <br>
    <pre class="lyrics-text">
      {{lyrics}}
    </pre>
  </div>
  
  
</ion-content>
