.lyrics-tab {
    display: flex;
    flex-direction: row;
    padding: 0 5%;
    h3 {
        flex: 2;
    }
}

.lyrics-data {
    padding: 0 3%;
    
    h6 {
        margin: 0;
        color: grey;
    }
}

.close-logo {
    display: flex;
    align-items: center;
}

.lyrics-text {
    white-space: pre-wrap;
    text-align: center;
}
