<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      <b>Search</b>
    </ion-title>
    <div class="search-bar">
      <input type="text" placeholder="Artists, songs, or podcasts">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>Your Top Genre</ion-label>
    </ion-list-header>
    <ion-list-header>
      <ion-label>Browse All</ion-label>
    </ion-list-header>
    
    <div *ngFor="let genre of genreList; let i = index">
      <ion-item class="ion-no-padding" *ngIf="i % 2 == 0" lines="none">
        <ion-grid>
          <ion-row class="genre-row">
            <ion-col [ngStyle]="getLinearBackground(colorList[(i) % colorList.length].rgba)"
                      *ngIf="i < genreList.length">
              <genre-tab [genre]="genreList[i]"></genre-tab>
            </ion-col>
            <ion-col [ngStyle]="getLinearBackground(colorList[(i + 1) % colorList.length].rgba)"
                      *ngIf="i + 1 < genreList.length">
              <genre-tab [genre]="genreList[i + 1]"></genre-tab>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
