ion-title {
    padding: 3% 0 1% 3%;
}

.search-bar {
    outline: 0;
    text-align: center;
    padding: 0 3%;
}

.search-bar input {
    font-size: 0.7em;
    width: 100%;
    padding: 8px;
    border: 1px solid silver;
    border-radius: 4px;
    background: url('./../../assets/icon/search-logo.png') no-repeat scroll 7px 7px;
    background-size: 16px;
    padding-left: 30px;
}

.search-result-tab {
    display: flex;
    padding: 5px 0;

    img {
        height: 43px;
    }

    .search-result-text {
        padding: 3px;
        font-weight: bold;
        ion-label:nth-child(2) {
            font-weight: normal;
            color: grey;
            font-size: 13px;
            padding-top: 2px;
        }
    }
}

ion-list {
    padding: 0 3%;
    ion-list-header {
        font-size: 0.7em;
        font-weight: bold;
        padding: 0;
    }
}

ion-item {
    --inner-padding-end: 0px;
}

ion-grid {
    padding: 0;
    flex: 1;

    ion-col:nth-child(2) {
        margin-left: 10px;
    }
}

ion-col {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    height: 70px;
    border-radius: 5px;
    padding: 0;
    overflow: hidden;
}
