ion-title {
    padding: 3% 0 0 3%;
}

.search-bar {
    outline: 0;
    text-align: center;
    padding: 2% 3%;
}

.search-bar input {
    font-size: 0.7em;
    width: 100%;
    padding: 3%;
    border: 1px solid silver;
    border-radius: 4px;
    background: url('./../../assets/icon/search-logo.png') no-repeat scroll 7px 7px;
    background-size: 5%;
    padding-left: 30px;
}

.album-art {
    position: absolute;
    height: auto;
    width: 70px;
    right: -20;
}


ion-grid {
    padding: 0;
}

ion-col {
    margin: 5px;
    height: 80px;
    border-radius: 5px;
    padding: 0;
}

ion-label {
    height: 100%;

    h2 {
        padding: 5px;
    }
}